<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="DAOContext" class="com.example.selfmadeBlog.DAO.DAOContext"/>

    <bean id="userDAO" class="com.example.selfmadeBlog.DAO.UserDAO">
        <property name="daoContext" ref="DAOContext"/>
    </bean>

    <bean id="postingDAO" class="com.example.selfmadeBlog.DAO.PostingDAO">
        <property name="daoContext" ref="DAOContext"/>
    </bean>

</beans>